.spinner-cont {
    position: fixed;
    z-index: 100;
    background: var(--dark-blue);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}


.spinner-cont .spinner {
    width: 65px;
    height: 65px;
}

.navbar {
    margin: 0 12% 5%;
    height: 80px;
}

.navbar a {
    text-decoration: none;
}

.nav-logo-cont .logo a {
    color: var(--gold);
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    font-weight: 500;
}

.nav-link-cont .link {
    color: var(--light);
    margin-left: 2rem;
    font-weight: 500;
    
}

.header {
    max-width: 700px;
}

.round-img .person-img {
    max-width: 135px;
}

.person-name::after {
    content: ' />';
}

.person-name::before {
    content: '< ';
}

.custom-btn {
    border: none;
    border-radius: 50px;
    padding: 0.6rem 3rem;
    font-size: 1.1rem;
    background-color: var(--gold);

}

.custom-btn a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

section .about {
    max-width: 1100px;
}

section .about p {
    line-height: 32px;
}

.perform {
    max-width: 500px;
}

.perform .img-cont {
    width: 140px;
    position: relative;
}

.perform .img-cont .no-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.perform .img-cont .no-cont {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.no-cont .txt {
    font-size: 0.7rem;
}

.services {
    max-width: 1300px;
}

.col-item {
    max-width: 95%;
    padding: 1.3rem 1rem;
    border-radius: 0.7rem;
    background-color: var(--light-dark);
    color: var(--light);
}

.col-item .icon-cont span {
    font-size: 2.7rem;
    color: var(--red-gold);
}

.col-item:hover {
    transition: all 0.2s;
    color: var(--black);
    background-color: var(--red-gold);
}

.col-item:hover .icon-cont span {
    color: var(--black);
}

.item h4 {
    font-size: 3rem;
    font-weight: 600;
}

.portfolio-cont {
    max-width: 1500px;
}

.testimonial-cont {
    max-width: 1300px;
}

.testimonial-cont .col-item {
    max-width: 100%;
}

.testimonial-cont .header .icon-cont {
    font-size: 4rem;
    height: 50px;
}

.testimonial-cont .col-item:hover {
    background-color: var(--light-dark);
    color: var(--light);
}

section .contact {
    max-width: 1400px;
    padding: 4rem 0;
}

.contact-form {
    width: 90%;
}

.contact-form input {
    width: 100%;
    padding: 8px 15px;
    border-radius: 25px;
    border: 2px solid var(--black);
    outline: none;
    background-color: var(--white);
    font-weight: 500;
}

.contact-form .error-msg {
    margin-left: 10px;
    font-size: 0.9rem;
}

.social-cont {
    width: 90%;
    padding: 2rem 6%;
    border-radius: 10px;
    background-color: var(--light-dark);
}

.social-cont .item {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.social-cont .item span {
    font-size: 1.8rem;
    padding-right: 1rem;
}

.social-media-icons i {
    font-size: 2rem;
    display: block;
    cursor: pointer;
}

.footer{
    padding: 6rem 0 3rem;
}

.footer .developer {
    font-size: 0.8rem;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(56 56 56 / 42%);
    z-index: 99;
    transition: 0.3s;
    -moz-transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.enable-overlay.overlay {
    opacity: 1;
    visibility: visible;
}


@media only screen and (max-width: 700px) {
    .round-img .person-img {
        max-width: 115px;
    }
    .navbar {
        margin: 0 12% 12%;
    }

    .navbar .nav-logo-cont .menu {
        display: block !important;
    }

    .nav-logo-cont .logo a {
        font-size: 1.5rem;
    }

    .nav-link-cont {
        position: fixed;
        background-color: var(--red-gold);
        height: 100vh;
        max-width: 300px;
        width: 80%;
        left: 0;
        top: 0;
        z-index: 100;
        text-align: center;
        padding: 1rem 0.8rem 0;
        flex-direction: column;
        transition: 0.3s;
        -moz-transition: 0.3s;
        transform: translateX(-100%);
        -moz-transform: translateX(-100%);
    }

    .open-sidenav.nav-link-cont {
        transform: translateX(0);
        -moz-transform: translateX(0);
    }

    .nav-link-cont .main-link-cont {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .nav-link-cont a.link {
        color: var(--black);
        margin: 0;
        padding: 0.6rem 0;
    }

    .nav-link-cont a.active {
        background-color: var(--dark-blue);
        border-radius: 25px;
        font-weight: 600;
    }

    .nav-link-cont .close-btn {
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav-link-cont .sidenav-header {
        display: block !important;
    }

    .spinner-cont .spinner {
        width: 55px;
        height: 55px;
    }
}

/* @media only screen and (max-width: 499px) {
} */

@media only screen and (max-width: 399px) {
    .contact-form,
    .social-cont {
        width: 100%;
    }
}