* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

/* color palette */
:root {
    --dark-blue: #000a21;
    --red-gold: #ffc33d;
    --gold: #FFD700;
    --light: #ddd;
    --white: #ffffff;
    --black: #000000;
    --xlight: #acacac;
    --green: #01ce37;
    --pink: #f90067;
    --sky-blue: #00b6f2;
    --light-dark: rgba(75, 75, 75, 0.616);
}

body {
    background-color: var(--dark-blue);
}

.bs-margin {
    margin: 0 5%;
}

.bs-padding {
    padding: 0 5%;
}

section {
    margin-bottom: 15rem !important;
}

img {
    width: 100%;
}

.ff-lobster {
    font-family: 'Lobster', cursive;
}

.ff-pacifico{
    font-family: 'Pacifico', cursive;
}

/* Font Size */

.fs-xl {
    font-size: 4rem;
    line-height: 5.2rem;
}

.fs-l {
    font-size: 2.8rem;
}

.fs-m {
    font-size: 2rem !important;
}


/* Font weight */

.fw-7 {
    font-weight: 700;
}

.fw-6 {
    font-weight: 600;
}

.fw-5 {
    font-weight: 500;
}

/* background color */
.bg-red-gold {
    background-color: var(--red-gold);
}
.bg-gold {
    background-color: var(--gold);
}
.bg-light-dark {
    background-color: var(--light-dark);
}

/* text color */
.tc-gold {
    color: var(--gold);   
}

.tc-red-gold {
    color: var(--red-gold);
}

.tc-light {
    color: var(--light);
}

.tc-xlight {
    color: var(--xlight);
}

.tc-green {
    color: var(--green);
}

.tc-pink {
    color: var(--pink);
}
.tc-sky-blue {
    color: var(--sky-blue);
}

/* text align */
.ta-justify {
    text-align: justify;
}

.active {
    color: var(--red-gold) !important;
}


@media only screen and (max-width: 700px) {
    .fs-xl {
        font-size: 3rem;
        line-height: 4.5rem;
    }
    
}

@media only screen and (max-width: 499px) {
    .fs-xl {
        font-size: 2.4rem ;
        line-height: 3.8rem;
    }
}

